@model StudentModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Student Information
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>First Name:</strong> @Model.FirstName</li>
                        <li class="list-group-item"><strong>Last Name:</strong> @Model.LastName</li>
                        <li class="list-group-item"><strong>Email:</strong> @Model.Email</li>
                        <li class="list-group-item"><strong>Age:</strong> @Model.Age</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
